body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6))url(img/bg\ 1.jpeg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background: rgba(7, 40, 195, 0,8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 75px 45px 45px;
    text-align: center;
    border-radius: 15px;
    height: 250px;
}
.form input{
    font-family: sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(84, 84, 87);
    border-radius: 5px;
}
.form button{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #848484;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffff;
    cursor: pointer;
    border-radius: 4px;
}
.form button:hover,
.form button:active {
    background: #43a047;
} 
.form message{
    margin:15px 0 0;
    color: aliceblue;
    font-size: 12px;
}
.form .message{
    color: #43a047;
    text-decoration: none;
}
.form .register-form{
    display: none;
}
